.emailInput {
  padding: 15px;
  margin-right: 15px;
  border-radius: 8px;
  background-color: #1a1a1a;
  border: 0;
}
::placeholder {
  font-size: 16px;
  color: white;
  opacity: 80%;     
}
button {
  padding: 15px 25px;
  font-size: 16px !important;
}
